*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
  }
  
  body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
  }
  
  /*   SIDEBAR   */
  .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 16vw;
    padding: 6px 14px;
    background: #003a8a;
    border-right: 1px solid #142c4d;
  }
  
  /* Logo */
  .sidebar .logo_content {
    display: flex;
  }

  .sidebar .logo_content .logo{
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    justify-content: left;
    margin-left: 20px;
    text-decoration: none;
  }
  
  .logo_content .logo i{
    font-size: 28px;
    color: #fff;
    margin-right: 5px;
  }
  
  .logo_content .logo .logo_name{
    font-size: 18px;
    font-weight: 400;
    color: #fff;
  }
  
  .logo_content .logo a{
    text-decoration: none;
    display: flex;
  }
  
  .sidebar #btn{
    position: absolute;
    color: #fff;
    left: 50%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
  }
  
  .sidebar.active #btn{
    left: 90%;
  }
  
  /* Navegacion */
  .sidebar ul{
    margin-top: 20px;
  }
  
  .sidebar ul li{
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
  }
  
  .sidebar ul li .tooltip{
    position: absolute;
    left: 122px;
    top: 0%;
    border-radius: 6px;
    height: 35px;
    width: 122px;
    background: #fff;
    line-height: 35px;
    text-align: center;
    pointer-events: none;
    display: block;
  }
  
  .sidebar ul li input{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 12px;
    border: 4px solid #fff;
    outline: none;
    border: none;
    background: #002c69;
    padding-left: 50px;
    font-size: 18px;
    color: #fff;
  }
  
  .sidebar ul li .bx-search{
    position: absolute;
    z-index: 99;
    color: #fff;
    font-size: 22px;
  }
  
  .sidebar ul li .bx-search:hover{
    background: #fff;
    color: #002c69;
  }
  
  .sidebar ul li a{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 12px;
    white-space: nowrap;
  }
  
  .sidebar ul li a:hover{
    color: #002c69;
    background: #fff;
  }
  
  .sidebar ul li i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
  }
  
  .sidebar .links_name{
    pointer-events: none;
  }
  
  /* Detalles del perfil */
  .sidebar .profile_content{
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  
  .sidebar .profile_content .profile{
    position: relative;
    padding: 10px 6px;
    height: 60px;
    background: none;
    background: #002c69;
  }
  
  .profile a{
    color: #fff;
    text-decoration: none;
  }
  
  .profile_content .profile .profile_details{
    display: flex;
    align-items: center;
    white-space: nowrap;
  }
  
  .profile .profile_details img{
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 12px;
  }
  
  .profile .profile_details .name_job{
    margin-left: 10px;
  }
  
  .profile .profile_details .name{
    font-size: 15px;
    font-weight: 400;
  }
  
  .profile .profile_details .job{
    font-size: 12px;
  }
  
  .profile #log_out{
    position: absolute;
    bottom: 5px;
    left: 88%;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 12px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    background: #002c69;
  }
  
  .home_content{
    color: #fcfff5;
    position: absolute;
    height: 100%;
    width: calc(100% - 78px);
    left: 16vw;
    transition: all 0.5s ease;
  }
  
  .home_content .text{
    font-size: 25px;
    font-weight: 500;
    color: #1d1b31;
    margin-top: 12px;
  }

  @media(max-width: 600px){
    .sidebar{
        display: block;
        width: 109px;
        bottom: 0;
    }

    .sidebar .logo_content .logo a{
      position: absolute;
      text-decoration: none;
      color: #fff;
      left: 35px;
    }

    .sidebar .logo_content .logo .logo_name{
      display: none;
    }

    .sidebar .logo_content .logo{
       display: flex;
       justify-content: center;
    }

    .logo_content .logo i{
        position: relative;
        left: 9px;
    }

    .nav_list li a{
        display: flex;
        justify-content: center;
        margin: 1vh 0;
    }

    .nav_list li a span{
        display: none;
    }

    .profile_content .name_job{
        display: none;
    }

    .profile #log_out{
        color: #fff;
        text-decoration: none;
        position: absolute;
        left: 75%;
        min-width: 40px;
        line-height: 43px;
        font-size: 20px;
        text-align: center;
        cursor: pointer;
    }
}